<% layout('layouts/boilerplate')%>
<h1>All Songs</h1>
<div class="row">
    <% for(let song of songs) { %> 
    <div class="col-xl-3 col-md-6 col-sm-6">
        <div class="container allsongs" style="background-image: url(<%=song.image%>);">
            <div class="song-info">
                <h3><%=song.title%></h1>
                <p class="artist">by <%=song.artist%></p>
                <p class="location"><%= song.location %> </p>
                <p class="likes"><%= song.likes.length%> like(s)</p>
                <a class="see-more" href="/songs/<%=song._id%>">See more</a>
            </div>

        </div>
    </div>
    <% }%>
</div>

<script src="/javascripts/index.js"></script>