<% layout('layouts/boilerplate')%>
<div class="row">
    <form action="/songs/<%=song._id%>" method="POST" class="mb-3 validated-form" novalidate>
        <button type="submit" value="true" name="liked">Like</button>
    </form>
    <h2>Leave a Review</h2>
    <form action="/songs/<%=song._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
    <% for(let review of song.reviews) { %>
        <% if (review.body) { %> 
        <div class="card mb-3 ">
            <div class="card-body">
                <p class="card-text">Review: <%= review.body %></p>
                <form action="/songs/<%=song._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>

            </div>
        </div>
        <% } %> 
    <% } %>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const song = <%-JSON.stringify(song)%>
</script>

<script src="/javascripts/showPageMap.js"></script>